Repository apache/pulsar-site, pull requests merged in 2023-02, with the labels that each got.

#397 [BLOG] Add the Pulsar Summit Europe CFP blog
  blog/2023-02-02-pulsar-virtual-summit-europe-2023-cfp.md
Labels: doc-not-needed

#400 [fix][doc] fix StreamNative logo URL on /powered-by page
  data/users.js
Labels: doc

#398 [BLOG] Add the Pulsar 600th contributor blog
  blog/2023-02-03-apache-pulsar-hits-its-600th-contributor.md
  static/img/apache-pulsar-hits-its-600th-contributor.png
  static/img/pulsar-github-star-history-202301.png
  static/img/pulsar-kafka-monthly-active-contributors-202301.jpg
  static/img/pulsar-total-contributors-202301.jpg
Labels: doc-not-needed

#396 docs: contributing runbook
  contribute/document-preview.md
  contribute/document-syntax.md
  contribute/site-intro.md
  sidebarsDevelopment.js
Labels: doc

#401 [fix][schema] Fix incorrect field name of `isSchemaValidationEnforced`
  docs/admin-api-schemas.md
  versioned_docs/version-2.11.x/admin-api-schemas.md
Labels: doc

#404 [fix][doc] Align the apostrophe throughout the docs
  docs/about.md
  docs/admin-api-transactions.md
  docs/administration-isolation-bookie.md
  docs/administration-zk-bk.md
  docs/client-api-overview.md
  docs/concepts-cluster-level-failover.md
  docs/concepts-messaging.md
  docs/concepts-replication.md
  docs/cookbooks-retention-expiry.md
  docs/developing-binary-protocol.md
  docs/functions-concepts.md
  docs/functions-quickstart.md
  docs/io-cdc-debezium.md
  docs/io-cli.md
  docs/io-debezium-source.md
  docs/reference-pulsar-admin.md
  docs/schema-overview.md
  docs/schema-understand.md
  docs/security-kerberos.md
  docs/security-tls-transport.md
  docs/txn-how.md
  docs/txn-use.md
Labels: doc

#405 Fix set-persistent admin doc
  docs/admin-api-namespaces.md
  docs/reference-pulsar-admin.md
Labels: doc, release/2.9.5, release/2.10.4, release/2.11.1

#403 [feat][doc] add Use Cases, Features, Tools to Pulsar admin API
  docs/admin-api-features.md
  docs/admin-api-overview.md
  docs/admin-api-tools.md
  docs/admin-api-use-cases.md
  docs/admin-get-started.md
  sidebars.json
  static/assets/admin-api-features.svg
  static/assets/admin-api-tools.svg
  static/assets/admin-api-use-cases.svg
  versioned_docs/version-2.11.x/admin-get-started.md
Labels: doc

#393 [refactor][doc] Refactor the information architecture of client library docs
  docs/client-libraries-clients.md
  docs/client-libraries-cluster-level-failover.md
  docs/client-libraries-consumers.md
  docs/client-libraries-cpp-configs.md
  docs/client-libraries-cpp-initialize.md
  docs/client-libraries-cpp-setup.md
  docs/client-libraries-cpp-use.md
  docs/client-libraries-cpp.md
  docs/client-libraries-dotnet-configs.md
  docs/client-libraries-dotnet-initialize.md
  docs/client-libraries-dotnet-setup.md
  docs/client-libraries-dotnet-use.md
  docs/client-libraries-dotnet.md
  docs/client-libraries-go-configs.md
  docs/client-libraries-go-initialize.md
  docs/client-libraries-go-setup.md
  docs/client-libraries-go-use.md
  docs/client-libraries-go.md
  docs/client-libraries-java-configs.md
  docs/client-libraries-java-initialize.md
  docs/client-libraries-java-setup.md
  docs/client-libraries-java-use.md
  docs/client-libraries-java.md
  docs/client-libraries-node-configs.md
  docs/client-libraries-node-initialize.md
  docs/client-libraries-node-setup.md
  docs/client-libraries-node-use.md
  docs/client-libraries-node.md
  docs/client-libraries-producers.md
  docs/client-libraries-python-configs.md
  docs/client-libraries-python-initialize.md
  docs/client-libraries-python-setup.md
  docs/client-libraries-python-use.md
  docs/client-libraries-python.md
  docs/client-libraries-readers.md
  docs/client-libraries-schema.md
  docs/client-libraries-tableviews.md
  docs/client-libraries-websocket.md
  docs/client-libraries.md
  docs/concepts-clients.md
  docs/concepts-cluster-level-failover.md
  docs/concepts-messaging.md
  docs/cookbooks-deduplication.md
  docs/functions-deploy-cluster-encryption.md
  sidebars.json
Labels: doc

#409 Fix the problem of the left and right boundary of the value
  docs/concepts-messaging.md
  versioned_docs/version-2.11.x/concepts-messaging.md
Labels: doc-required

#408 Document connecting through a proxy
  docs/developing-binary-protocol.md
  docs/security-authorization.md
Labels: doc

#414 Add GitHub Discussions to the discussions section. Refactor related components.
  .editorconfig
  src/components/PillButton.js
  src/components/PillButton.tsx
  src/pages/community.tsx
  src/pages/community/DiscussionPlatform.module.css
  src/pages/community/DiscussionPlatform.tsx
  src/pages/community/DiscussionPlatforms.module.css
  src/pages/community/DiscussionPlatforms.tsx
  src/pages/community/Slider.tsx
  src/pages/community/index.tsx
  static/img/Slack_Mark.svg
  static/img/community-meetings.svg
  static/img/github-mark.svg
  static/img/logo-stackoverflow.svg
  static/img/mailing-list.svg
  static/img/stackoverflow-logo.svg
  static/img/wechat-logo.svg
Labels: doc-not-needed

#416 Sync data/team.js with https://whimsy.apache.org/roster/committee/pulsar.json
  data/team.js
Labels: doc-not-needed

#418 Easier to copy&paste command for Windows
  docs/getting-started-docker.md
  versioned_docs/version-2.11.x/getting-started-docker.md
Labels: doc

#420 [fix] Add HTTP sink in connector table
  data/connectors.js
Labels: doc-not-needed

#417 Adjust the community page
  src/components/CommunityPage/index.tsx
  src/components/CommunityPage/sections/discussions/DiscussionPlatforms.module.css
  src/components/CommunityPage/sections/discussions/DiscussionPlatforms.tsx
  src/components/CommunityPage/sections/how-to-contribute/HowToContribute.tsx
  src/components/CommunityPage/sections/project-governance/ProjectGovernance.tsx
  src/components/CommunityPage/shared/ContentCard/ContentCard.module.css
  src/components/CommunityPage/shared/ContentCard/ContentCard.tsx
  src/components/CommunityPage/shared/ContentCard/ContentCardsLayout.module.css
  src/components/CommunityPage/shared/ContentCard/ContentCardsLayout.tsx
  src/components/CommunityPage/shared/Section/Section.module.css
  src/components/CommunityPage/shared/Section/Section.tsx
  src/components/CommunityPage/shared/Slider/Slider.tsx
  src/pages/community.tsx
  src/pages/community/DiscussionPlatform.module.css
  src/pages/community/index.tsx
  static/img/contribute.svg
  static/img/mailing-list.svg
  static/img/report-bugs.svg
  static/img/report-vulnerability.svg
Labels: doc-not-needed

#415 [fix][doc] correct default values of tiered storage offloaders
  docs/tiered-storage-aliyun.md
  docs/tiered-storage-aws.md
  docs/tiered-storage-azure.md
  docs/tiered-storage-filesystem.md
  docs/tiered-storage-gcs.md
  docs/tiered-storage-s3.md
  versioned_docs/version-2.10.x/tiered-storage-aliyun.md
  versioned_docs/version-2.10.x/tiered-storage-aws.md
  versioned_docs/version-2.10.x/tiered-storage-azure.md
  versioned_docs/version-2.10.x/tiered-storage-filesystem.md
  versioned_docs/version-2.10.x/tiered-storage-gcs.md
  versioned_docs/version-2.11.x/tiered-storage-aliyun.md
  versioned_docs/version-2.11.x/tiered-storage-aws.md
  versioned_docs/version-2.11.x/tiered-storage-azure.md
  versioned_docs/version-2.11.x/tiered-storage-filesystem.md
  versioned_docs/version-2.11.x/tiered-storage-gcs.md
  versioned_docs/version-2.11.x/tiered-storage-s3.md
  versioned_docs/version-2.8.x/tiered-storage-aliyun.md
  versioned_docs/version-2.8.x/tiered-storage-aws.md
  versioned_docs/version-2.8.x/tiered-storage-azure.md
  versioned_docs/version-2.8.x/tiered-storage-filesystem.md
  versioned_docs/version-2.8.x/tiered-storage-gcs.md
  versioned_docs/version-2.9.x/tiered-storage-aliyun.md
  versioned_docs/version-2.9.x/tiered-storage-aws.md
  versioned_docs/version-2.9.x/tiered-storage-azure.md
  versioned_docs/version-2.9.x/tiered-storage-filesystem.md
  versioned_docs/version-2.9.x/tiered-storage-gcs.md
Labels: doc

#423 Fix wrong C++ client download page
  src/components/downloads.tsx
Labels: doc-not-needed

#424 Update getting-started-docker.md
  versioned_docs/version-2.11.x/getting-started-docker.md
Labels: doc

#425 🐞 Fix mail list subscribe/unsubscribe links
  src/components/CommunityPage/sections/discussions/DiscussionPlatforms.tsx
Labels: doc-required

#406 [fix][doc] fix broken links
  docs/admin-api-tools.md
  docs/administration-geo.md
  docs/administration-pulsar-shell.md
  docs/concepts-architecture-overview.md
  docs/developing-binary-protocol.md
  docs/io-develop.md
  docs/security-tls-authentication.md
  docs/security-tls-transport.md
  versioned_docs/version-2.10.x/administration-metadata-store.md
  versioned_docs/version-2.10.x/concepts-architecture-overview.md
  versioned_docs/version-2.10.x/concepts-messaging.md
  versioned_docs/version-2.10.x/deploy-bare-metal.md
  versioned_docs/version-2.10.x/develop-schema.md
  versioned_docs/version-2.10.x/developing-binary-protocol.md
  versioned_docs/version-2.10.x/io-develop.md
  versioned_docs/version-2.11.x/administration-geo.md
  versioned_docs/version-2.11.x/administration-pulsar-shell.md
  versioned_docs/version-2.11.x/concepts-architecture-overview.md
  versioned_docs/version-2.11.x/developing-binary-protocol.md
  versioned_docs/version-2.11.x/io-develop.md
  versioned_docs/version-2.11.x/security-tls-authentication.md
  versioned_docs/version-2.11.x/security-tls-transport.md
  versioned_docs/version-2.8.x/concepts-architecture-overview.md
  versioned_docs/version-2.8.x/deploy-bare-metal.md
  versioned_docs/version-2.8.x/develop-schema.md
  versioned_docs/version-2.8.x/developers-landing.md
  versioned_docs/version-2.8.x/io-develop.md
  versioned_docs/version-2.9.x/admin-api-clusters.md
  versioned_docs/version-2.9.x/concepts-architecture-overview.md
  versioned_docs/version-2.9.x/deploy-bare-metal.md
  versioned_docs/version-2.9.x/develop-schema.md
  versioned_docs/version-2.9.x/developers-landing.md
  versioned_docs/version-2.9.x/io-develop.md
  versioned_sidebars/version-2.10.x-sidebars.json
Labels: doc

#411 Update admin-api-topics.md
  versioned_docs/version-2.11.x/admin-api-topics.md
Labels: doc

#428 [improve][doc] Add doc for `pulsar.enableUring` property
  static/reference/next/config/README.md
Labels: doc

#422 [improve][doc] add instructions of env variables to CLI docs
  static/reference/next/cli.md
  static/reference/next/config/README.md
  static/reference/next/pulsar-admin/README.md
  static/reference/next/pulsar-client/README.md
  static/reference/next/pulsar-perf/README.md
Labels: doc

#427 [improve][doc]Add exception examples for transaction API
  docs/txn-use.md
Labels: doc

#431 [improve][doc] Restructure releases docs
  contribute/release-process.md
  contribute/validate-release-candidate.md
  sidebarsDevelopment.js
Labels: doc

#421 [improve][doc] add flag instructions to pulsar-daemon
  docs/reference-metrics.md
  static/reference/next/pulsar-daemon/pulsar-daemon.md
  versioned_docs/version-2.10.x/reference-metrics.md
  versioned_docs/version-2.11.x/reference-metrics.md
  versioned_docs/version-2.4.0/reference-metrics.md
  versioned_docs/version-2.4.1/reference-metrics.md
  versioned_docs/version-2.4.2/reference-metrics.md
  versioned_docs/version-2.5.0/reference-metrics.md
  versioned_docs/version-2.5.1/reference-metrics.md
  versioned_docs/version-2.5.2/reference-metrics.md
  versioned_docs/version-2.6.0/reference-metrics.md
  versioned_docs/version-2.6.1/reference-metrics.md
  versioned_docs/version-2.6.2/reference-metrics.md
  versioned_docs/version-2.6.3/reference-metrics.md
  versioned_docs/version-2.6.4/reference-metrics.md
  versioned_docs/version-2.7.0/reference-metrics.md
  versioned_docs/version-2.7.1/reference-metrics.md
  versioned_docs/version-2.7.2/reference-metrics.md
  versioned_docs/version-2.7.3/reference-metrics.md
  versioned_docs/version-2.7.4/reference-metrics.md
  versioned_docs/version-2.7.5/reference-metrics.md
  versioned_docs/version-2.8.x/reference-metrics.md
  versioned_docs/version-2.9.x/reference-metrics.md
Labels: doc

#399 [doc][feat] Added doc to deploy a pulsar cluster on IBM cloud services
  static/assets/IBMCloud/Consumer_screen_result.png
  static/assets/IBMCloud/HelmInstall.png
  static/assets/IBMCloud/HelmOutPut.png
  static/assets/IBMCloud/Helmrepo.png
  static/assets/IBMCloud/IBMLogin.png
  static/assets/IBMCloud/IKSConnect.png
  static/assets/IBMCloud/Install Helm.png
  static/assets/IBMCloud/PodStatus.png
  static/assets/IBMCloud/Producer_screenshot_result.png
  static/assets/IBMCloud/Secretsout.png
  static/assets/IBMCloud/Services.png
  static/assets/IBMCloud/VM1.png
  static/assets/IBMCloud/VM10.png
  static/assets/IBMCloud/VM11.png
  static/assets/IBMCloud/VM12.png
  static/assets/IBMCloud/VM2.png
  static/assets/IBMCloud/VM3.png
  static/assets/IBMCloud/VM4.png
  static/assets/IBMCloud/VM5.png
  static/assets/IBMCloud/VM6.png
  static/assets/IBMCloud/VM7.png
  static/assets/IBMCloud/VM8.png
  static/assets/IBMCloud/VM9.png
  static/assets/IBMCloud/k8s1.png
  static/assets/IBMCloud/k8s10.png
  static/assets/IBMCloud/k8s11.png
  static/assets/IBMCloud/k8s12.png
  static/assets/IBMCloud/k8s2.png
  static/assets/IBMCloud/k8s3.png
  static/assets/IBMCloud/k8s4.png
  static/assets/IBMCloud/k8s5.png
  static/assets/IBMCloud/k8s6.png
  static/assets/IBMCloud/k8s7.png
  static/assets/IBMCloud/k8s8.png
  static/assets/IBMCloud/k8s9.png
  static/assets/IBMCloud/pod_cmd.png
  versioned_docs/version-2.10.x/deploy-ibm.md
  versioned_docs/version-2.11.x/deploy-ibm.md
  versioned_docs/version-2.9.x/deploy-ibm.md
  versioned_sidebars/version-2.10.x-sidebars.json
  versioned_sidebars/version-2.11.x-sidebars.json
  versioned_sidebars/version-2.9.x-sidebars.json
Labels: doc

#429 [fix][doc] Shared subscription support chunking
  docs/concepts-messaging.md
  versioned_docs/version-2.11.x/concepts-messaging.md
Labels: doc

#430 [Improve][doc] Add missing examples for java client
  docs/client-libraries-clients.md
  docs/client-libraries-consumers.md
  docs/client-libraries-producers.md
Labels: doc, enhancement

#434 fix Non-persistent messaging cookbook url 404 error
  versioned_docs/version-2.11.x/concepts-messaging.md
Labels: doc-required

#436 Updated the Hashing Scheme url
  docs/concepts-messaging.md
Labels: doc-required

#437 [doc] Update committers in data/team.js
  data/team.js
Labels: doc

#438 [fix][doc]: fix golang schema sample format
  docs/schema-get-started.md
Labels: doc

#433 [improve][doc] Release policy and matrix
  contribute/release-policy.md
  contribute/release-process.md
  contribute/version-policy.md
  package.json
  release-notes/pulsar.mdx
  sidebarsDevelopment.js
  src/components/SupportedVersionsTable.tsx
  static/.htaccess
Labels: doc
