Repository apache/pulsar-site, pull requests merged in 2023-06, with the labels that each got.

#593 Sync doc updates for proxyRole to versioned docs
  versioned_docs/version-2.10.x/developing-binary-protocol.md
  versioned_docs/version-2.11.x/developing-binary-protocol.md
  versioned_docs/version-2.8.x/developing-binary-protocol.md
  versioned_docs/version-2.9.x/developing-binary-protocol.md
Labels: doc

#597 [improve] homepage button redirects to latest stable version
  src/components/pages/HomePage/ShortInfo/ShortInfo.tsx
Labels: doc-not-needed

#599 Add the release note for Python client 3.2.0
  data/release-python.js
  release-notes/versioned/client-python-3.2.0.md
Labels: doc

#598 Fix error metric prefix
  docs/deploy-monitoring.md
  docs/reference-metrics.md
  versioned_docs/version-2.10.x/deploy-monitoring.md
  versioned_docs/version-2.10.x/reference-metrics.md
  versioned_docs/version-2.11.x/deploy-monitoring.md
  versioned_docs/version-2.11.x/reference-metrics.md
  versioned_docs/version-2.8.x/deploy-monitoring.md
  versioned_docs/version-2.8.x/reference-metrics.md
  versioned_docs/version-2.9.x/deploy-monitoring.md
  versioned_docs/version-2.9.x/reference-metrics.md
  versioned_docs/version-3.0.x/deploy-monitoring.md
  versioned_docs/version-3.0.x/reference-metrics.md
Labels: doc

#407 [improve][doc] Add note on client/broker compatibility
  docs/client-libraries.md
Labels: doc

#589 Restructure the producer doc
  docs/client-libraries-producers.md
Labels: doc

#602 [fix][doc] update namespace name in Get replication cluster CLI example.
  versioned_docs/version-3.0.x/admin-api-namespaces.md
Labels: doc

#606 Move /books page under Learn dropwdown menu
  docusaurus.config.js
Labels: doc-not-needed, website

#601 [improve][doc] Add sample code to use Copper Argos in C++
  docs/security-athenz.md
Labels: doc

#608 HomePage - Make the blurry part not be cut, but slowly become blurry as user scrolls to make it a smooth transition.
  src/components/pages/HomePage/HomePage.tsx
  src/components/pages/HomePage/ShortInfo/Parallax/Parallax.tsx
  src/components/pages/HomePage/ShortInfo/ShortInfo.module.css
  src/components/pages/HomePage/ShortInfo/ShortInfo.tsx
  src/components/pages/HomePage/useScrollPosition.tsx
Labels: doc-not-needed

#607 [doc][improve]--fix typos in get the secret section
  docs/functions-develop-security.md
  versioned_docs/version-2.11.x/functions-develop-security.md
  versioned_docs/version-3.0.x/functions-develop-security.md
Labels: doc

#609 Update performance-pulsar-perf.md - spelling error
  versioned_docs/version-2.9.x/performance-pulsar-perf.md
Labels: doc-not-needed

#605 [doc][improve] add usage notes for Debezium connector
  docs/io-cdc-debezium.md
  docs/io-debezium-source.md
  src/components/pages/HomePage/Features/featuresList.ts
  versioned_docs/version-2.10.x/io-cdc-debezium.md
  versioned_docs/version-2.10.x/io-debezium-source.md
  versioned_docs/version-2.11.x/io-cdc-debezium.md
  versioned_docs/version-2.11.x/io-debezium-source.md
  versioned_docs/version-2.8.x/io-cdc-debezium.md
  versioned_docs/version-2.8.x/io-debezium-source.md
  versioned_docs/version-2.9.x/io-cdc-debezium.md
  versioned_docs/version-2.9.x/io-debezium-source.md
  versioned_docs/version-3.0.x/io-cdc-debezium.md
  versioned_docs/version-3.0.x/io-debezium-source.md
Labels: doc

#611 [fix][doc] Drop color code
  docs/concepts-messaging.md
  versioned_docs/version-2.10.x/concepts-messaging.md
  versioned_docs/version-2.11.x/concepts-messaging.md
  versioned_docs/version-2.2.0/concepts-messaging.md
  versioned_docs/version-2.2.1/concepts-messaging.md
  versioned_docs/version-2.3.0/concepts-messaging.md
  versioned_docs/version-2.3.1/concepts-messaging.md
  versioned_docs/version-2.3.2/concepts-messaging.md
  versioned_docs/version-2.4.0/concepts-messaging.md
  versioned_docs/version-2.4.1/concepts-messaging.md
  versioned_docs/version-2.4.2/concepts-messaging.md
  versioned_docs/version-2.5.0/concepts-messaging.md
  versioned_docs/version-2.5.1/concepts-messaging.md
  versioned_docs/version-2.5.2/concepts-messaging.md
  versioned_docs/version-2.6.0/concepts-messaging.md
  versioned_docs/version-2.6.1/concepts-messaging.md
  versioned_docs/version-2.6.2/concepts-messaging.md
  versioned_docs/version-2.6.3/concepts-messaging.md
  versioned_docs/version-2.6.4/concepts-messaging.md
  versioned_docs/version-2.7.0/concepts-messaging.md
  versioned_docs/version-2.7.1/concepts-messaging.md
  versioned_docs/version-2.7.2/concepts-messaging.md
  versioned_docs/version-2.7.3/concepts-messaging.md
  versioned_docs/version-2.7.4/concepts-messaging.md
  versioned_docs/version-2.7.5/concepts-messaging.md
  versioned_docs/version-2.8.x/concepts-messaging.md
  versioned_docs/version-2.9.x/concepts-messaging.md
  versioned_docs/version-3.0.x/concepts-messaging.md
Labels: doc

#613 [fix][doc] Pulsar client JWT auth example missing commas
  docs/security-jwt.md
  versioned_docs/version-2.10.x/security-jwt.md
  versioned_docs/version-2.11.x/security-jwt.md
  versioned_docs/version-2.2.1/security-token-client.md
  versioned_docs/version-2.3.0/security-token-client.md
  versioned_docs/version-2.3.1/security-token-client.md
  versioned_docs/version-2.3.2/security-token-client.md
  versioned_docs/version-2.4.0/security-jwt.md
  versioned_docs/version-2.4.0/security-token-client.md
  versioned_docs/version-2.4.1/security-jwt.md
  versioned_docs/version-2.4.1/security-token-client.md
  versioned_docs/version-2.4.2/security-jwt.md
  versioned_docs/version-2.4.2/security-token-client.md
  versioned_docs/version-2.5.0/security-jwt.md
  versioned_docs/version-2.5.1/security-jwt.md
  versioned_docs/version-2.5.2/security-jwt.md
  versioned_docs/version-2.6.0/security-jwt.md
  versioned_docs/version-2.6.1/security-jwt.md
  versioned_docs/version-2.6.2/security-jwt.md
  versioned_docs/version-2.6.3/security-jwt.md
  versioned_docs/version-2.6.4/security-jwt.md
  versioned_docs/version-2.7.0/security-jwt.md
  versioned_docs/version-2.7.1/security-jwt.md
  versioned_docs/version-2.7.2/security-jwt.md
  versioned_docs/version-2.7.3/security-jwt.md
  versioned_docs/version-2.7.4/security-jwt.md
  versioned_docs/version-2.7.5/security-jwt.md
  versioned_docs/version-2.8.x/security-jwt.md
  versioned_docs/version-2.9.x/security-jwt.md
  versioned_docs/version-3.0.x/security-jwt.md
Labels: doc

#614 Implement 'How does Pulsar work' homepage screen
  src/components/pages/HomePage/Features/Features.module.css
  src/components/pages/HomePage/Features/Features.tsx
  src/components/pages/HomePage/HomePage.tsx
  src/components/pages/HomePage/HowPulsarWorks/HowPulsarWorks.module.css
  src/components/pages/HomePage/HowPulsarWorks/HowPulsarWorks.tsx
  src/components/pages/HomePage/HowPulsarWorks/img/bookkeeper.svg
  src/components/pages/HomePage/HowPulsarWorks/img/brokers.svg
  src/components/pages/HomePage/HowPulsarWorks/img/illustration-desktop.svg
  src/components/pages/HomePage/HowPulsarWorks/img/illustration-mobile.svg
  src/components/pages/HomePage/HowPulsarWorks/img/producer-and-consumer.svg
  src/components/pages/HomePage/HowPulsarWorks/img/zookeeper.svg
  src/components/pages/HomePage/Users/Users.module.css
Labels: doc-not-needed

#610 [doc][improve] add popular topics to dev landing page
  docs/developers-landing.md
Labels: doc

#616 Add info about Pulsar Summit North America 2023
  data/events.ts
  docusaurus.config.js
  src/components/pages/EventsPage/FeaturedEvent/FeaturedEvent.tsx
Labels: doc-not-needed

#621 [feat][doc] add overview for broker load balancing
  docs/concepts-broker-load-balancing-concepts.md
  docs/concepts-broker-load-balancing-overview.md
  sidebars.json
Labels: doc

#624 Cross post Pulsar Summit North America 2023 CFP
  blog/2023-06-28-pulsar-summit-north-america-2023-cfp.md
  static/img/pulsar-summit-north-america-2023-top-image.png
Labels: doc-not-needed

#623 [fix][website] exclude outdated versions of api documentation from search engine results
  static/robots.txt
Labels: doc-not-needed
