Repository apache/pulsar-site, pull requests merged in 2023-09, with the labels that each got.

#676 [improve][doc] SEO for Pulsar IO
  docs/io-cdc.md
  docs/io-connectors.md
  docs/io-debug.md
  docs/io-develop.md
  docs/io-overview.md
  docs/io-quickstart.md
  docs/io-use.md
Labels: doc

#680 [improve][doc] SEO for Pulsar functions
  docs/functions-cli.md
  docs/functions-concepts.md
  docs/functions-debug-cli.md
  docs/functions-debug-localrun.md
  docs/functions-debug-log-topic.md
  docs/functions-debug-stderr.md
  docs/functions-debug-unit-test.md
  docs/functions-deploy-arguments.md
  docs/functions-deploy-cluster-builtin.md
  docs/functions-deploy-cluster-encryption.md
  docs/functions-deploy-cluster-parallelism.md
  docs/functions-deploy-cluster-resource.md
  docs/functions-deploy-cluster.md
  docs/functions-deploy-localrun.md
  docs/functions-deploy-trigger.md
  docs/functions-develop-admin-api.md
  docs/functions-develop-api.md
  docs/functions-develop-log.md
  docs/functions-develop-metrics.md
  docs/functions-develop-schema-registry.md
  docs/functions-develop-security.md
  docs/functions-develop-serde.md
  docs/functions-develop-state.md
  docs/functions-develop-tutorial.md
  docs/functions-develop-user-defined-configs.md
  docs/functions-overview.md
  docs/functions-package-go.md
  docs/functions-package-java.md
  docs/functions-package-python.md
  docs/functions-quickstart.md
  docs/functions-runtime-java-options.md
  docs/functions-runtime-kubernetes.md
  docs/functions-runtime-process.md
  docs/functions-runtime-thread.md
  docs/functions-worker-corun.md
  docs/functions-worker-for-geo-replication.md
  docs/functions-worker-run-separately.md
  docs/functions-worker-stateful.md
  docs/functions-worker-temp-file-path.md
  docs/functions-worker-troubleshooting.md
  docs/window-functions-context.md
Labels: doc

#677 [improve][doc] SEO for Pulsar SQL
  docs/sql-deployment-configurations.md
  docs/sql-getting-started.md
  docs/sql-overview.md
  docs/sql-rest-api.md
Labels: doc

#693 [improve][doc] SEO for Administration
  docs/administration-anti-affinity-namespaces.md
  docs/administration-geo.md
  docs/administration-isolation-bookie.md
  docs/administration-isolation-broker.md
  docs/administration-isolation.md
  docs/administration-metadata-store.md
  docs/administration-proxy.md
  docs/administration-pulsar-manager.md
  docs/administration-pulsar-shell.md
  docs/administration-upgrade.md
  docs/administration-zk-bk.md
  docs/reference-terminology.md
Labels: doc

#684 [improve][doc] SEO for Tiered Storage
  docs/tiered-storage-aliyun.md
  docs/tiered-storage-aws.md
  docs/tiered-storage-azure.md
  docs/tiered-storage-gcs.md
  docs/tiered-storage-overview.md
  docs/tiered-storage-s3.md
Labels: doc

#683 [improve][doc] SEO for Transactions
  docs/txn-advanced-features.md
  docs/txn-how.md
  docs/txn-monitor.md
  docs/txn-use.md
  docs/txn-what.md
  docs/txn-why.md
Labels: doc

#681 [improve][doc] SEO for deployment
  docs/deploy-aws.md
  docs/deploy-bare-metal-multi-cluster.md
  docs/deploy-bare-metal.md
  docs/deploy-docker.md
  docs/deploy-ibm.md
  docs/helm-deploy.md
  docs/helm-prepare.md
  docs/helm-upgrade.md
Labels: doc

#700 Fix missing reference doc for 3.1.x
  static/reference/3.1.x/README.md
  static/reference/3.1.x/_sidebar.md
  static/reference/3.1.x/bookkeeper/README.md
  static/reference/3.1.x/bookkeeper/bookkeeper.md
  static/reference/3.1.x/cli.md
  static/reference/3.1.x/pulsar-daemon/README.md
  static/reference/3.1.x/pulsar-daemon/pulsar-daemon.md
  static/reference/3.1.x/pulsar-shell/README.md
  static/reference/3.1.x/pulsar-shell/pulsar-shell.md
Labels: doc-complete

#692 Add a recap for Apache Pulsar Sessions in CommunityOverCode Asia 2023
  blog/2023-06-28-pulsar-summit-north-america-2023-cfp.md
  blog/2023-08-28-pulsar-sessions-in-communityovercode-aisa-2023.md
Labels: doc-not-needed

#698 SEO for Adaptors
  docs/adaptors-kafka.md
  docs/adaptors-spark.md
  docs/adaptors-storm.md
Labels: doc

#699 [improve][doc] SEO for Tutorials
  docs/cookbooks-bookkeepermetadata.md
  docs/cookbooks-compaction.md
  docs/cookbooks-deduplication.md
  docs/cookbooks-message-queue.md
  docs/cookbooks-non-persistent.md
  docs/cookbooks-retention-expiry.md
  docs/tutorials-namespace.md
  docs/tutorials-produce-consume.md
  docs/tutorials-tenant.md
  docs/tutorials-topic.md
Labels: doc

#697 [improve][doc] SEO for Security and Performance
  docs/performance-pulsar-perf.md
  docs/security-athenz.md
  docs/security-authorization.md
  docs/security-basic-auth.md
  docs/security-bouncy-castle.md
  docs/security-encryption.md
  docs/security-extending.md
  docs/security-jwt.md
  docs/security-kerberos.md
  docs/security-oauth2.md
  docs/security-openid-connect.md
  docs/security-overview.md
  docs/security-tls-authentication.md
  docs/security-tls-transport.md
Labels: doc

#702 [improve][doc] SEO for Admin API
  docs/admin-api-brokers.md
  docs/admin-api-clusters.md
  docs/admin-api-features.md
  docs/admin-api-functions.md
  docs/admin-api-namespaces.md
  docs/admin-api-overview.md
  docs/admin-api-packages.md
  docs/admin-api-permissions.md
  docs/admin-api-schemas.md
  docs/admin-api-tenants.md
  docs/admin-api-tools.md
  docs/admin-api-topics.md
  docs/admin-api-transactions.md
  docs/admin-api-tutorial.md
  docs/admin-api-use-cases.md
  docs/admin-get-started.md
  docs/reference-terminology.md
Labels: doc

#703 [improve][doc] SEO for Reference
  docs/pulsar-api-overview.md
  docs/reference-cli-tools.md
  docs/reference-rest-api-overview.md
  docs/reference-terminology.md
Labels: doc

#706 [improve][doc] SEO for Client Libraries
  docs/client-libraries-clients.md
  docs/client-libraries-cluster-level-failover.md
  docs/client-libraries-consumers.md
  docs/client-libraries-cpp-initialize.md
  docs/client-libraries-cpp-setup.md
  docs/client-libraries-cpp-use.md
  docs/client-libraries-dotnet-initialize.md
  docs/client-libraries-dotnet-setup.md
  docs/client-libraries-dotnet-use.md
  docs/client-libraries-go-initialize.md
  docs/client-libraries-go-setup.md
  docs/client-libraries-go-use.md
  docs/client-libraries-java-initialize.md
  docs/client-libraries-java-setup.md
  docs/client-libraries-java-use.md
  docs/client-libraries-node-configs.md
  docs/client-libraries-node-initialize.md
  docs/client-libraries-node-setup.md
  docs/client-libraries-node-use.md
  docs/client-libraries-producers.md
  docs/client-libraries-python-initialize.md
  docs/client-libraries-python-setup.md
  docs/client-libraries-python-use.md
  docs/client-libraries-readers.md
  docs/client-libraries-rest.md
  docs/client-libraries-schema.md
  docs/client-libraries-tableviews.md
  docs/client-libraries-websocket.md
  docs/client-libraries.md
Labels: doc
