Repository apache/pulsar-site, pull requests merged in 2023-05, with the labels that each got.

#545 Add release note for Pulsar 3.0.0
  release-notes/versioned/client-java-3.0.0.md
  release-notes/versioned/pulsar-3.0.0.md
Labels: doc

#548 [BLOG] Add pulsar 3.0 blog post
  blog/2023-05-02-announcing-apache-pulsar-3-0.md
  static/img/pulsar-new-release-model.png
Labels: doc-not-needed

#544 [improve][fn] add docs for supporting reading config options from files in Python runner
  docs/functions-runtime-process.md
  site2/website-next/yarn.lock
Labels: doc

#552 [BLOG]Update the 3.0 release blog post
  blog/2023-05-02-announcing-apache-pulsar-3-0.md
  static/img/annoucing-pulsar-3-0.jpeg
Labels: doc-not-needed

#513 [feat] Add client matrix page
  client-feature-matrix/index.mdx
  data/matrix.js
  docusaurus.config.js
  package.json
  src/components/Matrix/matrix.js
  src/components/Matrix/util.js
  src/css/custom.css
  yarn.lock
Labels: doc-not-needed

#554 Add `multi-arch docker images support` to 3.0.0 release note
  release-notes/versioned/pulsar-3.0.0.md
Labels: doc

#555 Document OpenID Connect Auth Provider
  docs/security-openid-connect.md
  docs/security-overview.md
  sidebars.json
  versioned_docs/version-3.0.x/security-openid-connect.md
  versioned_docs/version-3.0.x/security-overview.md
  versioned_sidebars/version-3.0.x-sidebars.json
Labels: doc

#556 Fix note annotation to correct rendering
  docs/client-libraries-producers.md
  versioned_docs/version-3.0.x/client-libraries-producers.md
Labels: doc

#559 Add PIP 193 to 3.0 release note
  release-notes/versioned/pulsar-3.0.0.md
Labels: doc

#546 [improve][doc] Update links for new Client/Feature Matrix page
  contribute/document-contribution.md
  contribute/site-intro.md
  docs/client-libraries-cpp.md
  docs/client-libraries-dotnet.md
  docs/client-libraries-go.md
  docs/client-libraries-java.md
  docs/client-libraries-node.md
  docs/client-libraries-python.md
  docs/client-libraries-websocket.md
  docs/client-libraries.md
  sidebars.json
Labels: doc

#553 Release blog 2.10.4
  blog/2023-04-19-Apache-Pulsar-2-10-4.md
  data/release-pulsar.js
Labels: doc

#563 Delete yarn.lock
  site2/website-next/yarn.lock
Labels: doc-not-needed

#566 fix: @mui/base breaking rename
  package.json
  src/pages/case-studies.js
  src/pages/ecosystem.js
  src/pages/events.js
  src/pages/resources.js
  yarn.lock
Labels: doc-not-needed

#568 Add How To Contribute section on README
  README.md
Labels: doc-not-needed

#562 Add PIP-195 to 3.0 release note
  release-notes/versioned/pulsar-3.0.0.md
Labels: doc

#572 [improve][misc] add reminder to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc-not-needed

#570 Add documentation for KubernetesServiceAccountTokenAuthProvider
  docs/functions-runtime-kubernetes.md
  versioned_docs/version-3.0.x/functions-runtime-kubernetes.md
Labels: doc

#558 Minor improvements to OIDC docs
  docs/security-openid-connect.md
  versioned_docs/version-3.0.x/security-openid-connect.md
Labels: doc

#557 Improve OIDC client authentication docs
  docs/security-openid-connect.md
  versioned_docs/version-3.0.x/security-openid-connect.md
Labels: doc

#573 Add pulsar-manager 0.4.0 release note
  data/release-pulsar-manager.js
  release-notes/pulsar-manager.md
Labels: doc

#571 Add client memory limits docs.
  docs/client-libraries-clients.md
  versioned_docs/version-3.0.x/client-libraries-clients.md
Labels: doc

#575 [fix][doc] Add 3.0.x reference docs in sidebar
  static/reference/index.html
Labels: doc

#581 [fix] Fix some typos in End-to-End Encryption
  docs/security-encryption.md
  versioned_docs/version-2.11.x/security-encryption.md
  versioned_docs/version-3.0.x/security-encryption.md
Labels: doc

#565 Add CPP client table view doc.
  docs/client-libraries-tableviews.md
Labels: doc

#564 Add document for bucket delayed message tracker metrics
  docs/reference-metrics.md
  versioned_docs/version-3.0.x/reference-metrics.md
Labels: doc

#567 Add missing documentation for JVM metrics in Pulsar broker
  docs/reference-metrics.md
  versioned_docs/version-2.11.x/reference-metrics.md
  versioned_docs/version-3.0.x/reference-metrics.md
Labels: doc

#585 After Pulsar Virtual Summit Europe 2023
  data/events.ts
  docusaurus.config.js
  src/components/pages/EventsPage/FeaturedEvent/FeaturedEvent.tsx
Labels: doc-not-needed

#580 [doc] Add doc for openIDKeyIdCacheMissRefreshSeconds setting
  docs/security-openid-connect.md
  versioned_docs/version-3.0.x/security-openid-connect.md
Labels: doc, 3.0.1

#542 Add doc for available-functions and functions reload
  docs/functions-deploy-cluster-builtin.md
  versioned_docs/version-3.0.x/functions-deploy-cluster-builtin.md
Labels: doc

#583 rest api add method
  docusaurus.config.js
Labels: doc

#586 Add Books page
  data/books.tsx
  docusaurus.config.js
  src/components/pages/BooksPage/BooksPage.module.css
  src/components/pages/BooksPage/BooksPage.tsx
  src/components/pages/BooksPage/Cards/Cards.module.css
  src/components/pages/BooksPage/Cards/Cards.tsx
  src/pages/books.tsx
  static/img/books/building-event-driven-microservices.jpg
  static/img/books/designing-data-intensive-applications.jpg
  static/img/books/mastering-apache-pulsar.jpg
  static/img/books/practical-event-driven-microservices.jpg
  static/img/books/pulsar-in-action.jpg
Labels: doc-not-needed

#587 Fix highlight Quickstart and Concepts menu items at the same time
  docusaurus.config.js
Labels: doc-not-needed

#588 [fix] typos in books.tsx
  data/books.tsx
Labels: doc-not-needed

#590 chore: remove unnecessary release stuff
  contribute/release-process.md
  tools/pytools/README.md
  tools/pytools/bin/py-apidoc-generator.py
  tools/pytools/lib/execute/pdoc_generator.py
  tools/pytools/lib/execute/pydoctor_generator.py
  tools/pytools/scripts/pdoc-generator-helper
  tools/pytools/tmp/.gitignore
Labels: doc

#592 [improve][docs] Upgrade nifi-nar-maven-plugin version shown in docs
  docs/develop-plugin.md
  docs/functions-package-java.md
  docs/io-develop.md
  versioned_docs/version-2.10.x/develop-plugin.md
  versioned_docs/version-2.10.x/io-develop.md
  versioned_docs/version-2.11.x/develop-plugin.md
  versioned_docs/version-2.11.x/functions-package-java.md
  versioned_docs/version-2.11.x/io-develop.md
  versioned_docs/version-2.8.x/io-develop.md
  versioned_docs/version-2.9.x/io-develop.md
  versioned_docs/version-3.0.x/develop-plugin.md
  versioned_docs/version-3.0.x/functions-package-java.md
  versioned_docs/version-3.0.x/io-develop.md
Labels: doc-not-needed

#594 Linked to new location of PIP process
  contribute/about.md
Labels: doc
