Repository apache/pulsar-site, pull requests merged in 2024-01, with the labels that each got.

#759 Release Pulsar 2.11.3
  data/release-java.js
  data/release-pulsar.js
  release-notes/versioned/client-java-2.11.3.md
  release-notes/versioned/pulsar-2.11.3.md
  releases.json
  static/swagger/2.11.3/swagger.json
  static/swagger/2.11.3/swaggerfunctions.json
  static/swagger/2.11.3/swaggerlookup.json
  static/swagger/2.11.3/swaggerpackages.json
  static/swagger/2.11.3/swaggersink.json
  static/swagger/2.11.3/swaggersource.json
  static/swagger/2.11.3/swaggertransactions.json
  static/swagger/2.11.3/v2/swagger.json
  static/swagger/2.11.3/v2/swaggerlookup.json
  static/swagger/2.11.3/v3/swaggerfunctions.json
  static/swagger/2.11.3/v3/swaggerpackages.json
  static/swagger/2.11.3/v3/swaggersink.json
  static/swagger/2.11.3/v3/swaggersource.json
  static/swagger/2.11.3/v3/swaggertransactions.json
  static/swagger/restApiVersions.json
Labels: doc

#761 Add the release note for Python client 3.4.0
  data/release-python.js
  release-notes/versioned/client-python-3.4.0.md
Labels: doc

#758 Release Pulsar 3.1.2
  data/release-java.js
  data/release-pulsar.js
  release-notes/versioned/client-java-3.1.2.md
  release-notes/versioned/pulsar-3.1.2.md
  releases.json
  static/swagger/3.1.2/swagger.json
  static/swagger/3.1.2/swaggerfunctions.json
  static/swagger/3.1.2/swaggerlookup.json
  static/swagger/3.1.2/swaggerpackages.json
  static/swagger/3.1.2/swaggersink.json
  static/swagger/3.1.2/swaggersource.json
  static/swagger/3.1.2/swaggertransactions.json
  static/swagger/3.1.2/v2/swagger.json
  static/swagger/3.1.2/v2/swaggerlookup.json
  static/swagger/3.1.2/v3/swaggerfunctions.json
  static/swagger/3.1.2/v3/swaggerpackages.json
  static/swagger/3.1.2/v3/swaggersink.json
  static/swagger/3.1.2/v3/swaggersource.json
  static/swagger/3.1.2/v3/swaggertransactions.json
  static/swagger/restApiVersions.json
Labels: doc

#765 [improve][misc] Comply with INFRA download policies
  src/components/downloads.tsx
Labels: doc-not-needed

#764 [doc] Avoid users send messages with too long delay time
  docs/concepts-messaging.md
  versioned_docs/version-2.10.x/concepts-messaging.md
  versioned_docs/version-2.11.x/concepts-messaging.md
  versioned_docs/version-3.0.x/concepts-messaging.md
  versioned_docs/version-3.1.x/concepts-messaging.md
Labels: doc

#771 [doc] Add a note: if using Delayed messages, advisable to exercise caution when using the Backlog Quota strategy
  docs/concepts-messaging.md
  versioned_docs/version-2.10.x/concepts-messaging.md
  versioned_docs/version-2.11.x/concepts-messaging.md
  versioned_docs/version-3.0.x/concepts-messaging.md
  versioned_docs/version-3.1.x/concepts-messaging.md
Labels: doc

#770 [blog] 2023 year in review
  blog/2024-01-12-pulsar-2023-year-in-review.md
Labels: doc

#773 Added docs for PIP-323
  docs/administration-stats.md
  docs/cookbooks-retention-expiry.md
  docs/reference-metrics.md
  docs/reference-terminology.md
Labels: doc

#769 [improve][doc] Explain retain policy of messages without keys for compaction
  docs/cookbooks-compaction.md
Labels: doc

#775 Fix examples that use cassandra docker container
  contribute/validate-release-candidate.md
  docs/io-quickstart.md
  versioned_docs/version-2.10.x/io-quickstart.md
  versioned_docs/version-2.11.x/io-quickstart.md
  versioned_docs/version-2.2.0/io-quickstart.md
  versioned_docs/version-2.2.1/io-quickstart.md
  versioned_docs/version-2.3.0/io-quickstart.md
  versioned_docs/version-2.3.1/io-quickstart.md
  versioned_docs/version-2.3.2/io-quickstart.md
  versioned_docs/version-2.4.0/io-quickstart.md
  versioned_docs/version-2.4.1/io-quickstart.md
  versioned_docs/version-2.4.2/io-quickstart.md
  versioned_docs/version-2.5.0/io-quickstart.md
  versioned_docs/version-2.5.1/io-quickstart.md
  versioned_docs/version-2.5.2/io-quickstart.md
  versioned_docs/version-2.6.0/io-quickstart.md
  versioned_docs/version-2.6.1/io-quickstart.md
  versioned_docs/version-2.6.2/io-quickstart.md
  versioned_docs/version-2.6.3/io-quickstart.md
  versioned_docs/version-2.6.4/io-quickstart.md
  versioned_docs/version-2.7.0/io-quickstart.md
  versioned_docs/version-2.7.1/io-quickstart.md
  versioned_docs/version-2.7.2/io-quickstart.md
  versioned_docs/version-2.7.3/io-quickstart.md
  versioned_docs/version-2.7.4/io-quickstart.md
  versioned_docs/version-2.7.5/io-quickstart.md
  versioned_docs/version-2.8.x/io-quickstart.md
  versioned_docs/version-2.9.x/io-quickstart.md
  versioned_docs/version-3.0.x/io-quickstart.md
  versioned_docs/version-3.1.x/io-quickstart.md
Labels: doc-not-needed

#774 [fix][doc] Fix a link anchor
  docs/client-libraries-consumers.md
Labels: doc-not-needed

#772 [fix][doc] Fix DLQ producer name
  docs/concepts-messaging.md
Labels: doc

#766 [improve][docs] release-process wording
  contribute/release-process.md
Labels: doc

#694 [improve][doc] Explain how to use mutiple ZooKeeper in BookKeeper metadataServiceUri settings
  docs/deploy-bare-metal.md
Labels: doc

#728 Update administration-pulsar-manager.md
  versioned_docs/version-3.1.x/administration-pulsar-manager.md
Labels: doc-complete

#741 [fix][doc] auth problem in getting-started-docker-compose.md
  docs/getting-started-docker-compose.md
Labels: doc

#756 [doc] running pulsar server on windows doesn't supported yet is added
  contribute/setup-building.md
Labels: doc

#776 Adding Pulsar Helm Chart 3.2.0 to index.yaml
  static/charts/index.yaml
Labels: doc-not-needed
